.head-line{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.head-line svg{
    width: 430px;
}
.menus{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
    background: none;
    margin: 5px;

}

.menus button{
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover{
    background-color: #ebebeb;
    border-radius: 10px;
}

.news-img-size{
    max-width: 100%;
    max-height: 250px;
}

.news{
    border-bottom: 2px solid black;
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ebebeb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
}

.side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}

.side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu-list button:hover {
    background-color: lightgrey;
    border-radius: 10px;
}

.icon-button{
    margin: 10px;
}

#search-input{
    margin-right: 10px;
}
.search-button{
    border: none;
    border-radius: 5px;
    font-weight: 500;
    padding: 3px;
    
}
.search-button:hover{
    color: white;
    background-color: darkgray;
}